*{
    font-family: 'Times New Roman', Times, serif;
}
.bigcontainer {
	width: 960px;
    height: 1000px;
	max-width: 100%;
    max-height: 100%;
	padding: 3px;
	margin: 0 auto;
}

.midcontainer{
    background: deepskyblue;
}

.container{
    display: flex;
    align-items: center;
    background: white;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 3px solid black;
}
.item li{
    display: inline;
    padding: 20px;
}

.cont2{
    display: flex;
    height: 200px;
    padding: 3px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: 25px;
    margin-bottom: 25px;
}

.item2{
    padding: 20px;
    flex: 1;
}

.info-container{
    height: 200px;
    width: 960px;
    display: flex;
    justify-content: center;
}

.info-container ul{
    height: 150px;
    width: 860px;
    padding: 3px;
    display: flex;

}


.item3 li{
    flex: 1;
    display: inline;
    border: 3px solid black;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.bottom{
    height: 100px;
    border: 3px solid black;
}

img {
    display: inline;
}

h2{
    text-align: center;
}